* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;   
}    

.container {
    display: flex;
}

.nav-container {
    display: flex;
}

.pages-container {
    display: flex;
}








